.title {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title {
  color: white;
}